<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-hL8hzBQJg4kA-Ix6SDX0VVwsAF4WS5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1067919477066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.railway-ticket-app.app</string>
	<key>PROJECT_ID</key>
	<string>railway-ticket-app</string>
	<key>STORAGE_BUCKET</key>
	<string>railway-ticket-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067919477066:ios:c4d7d11bf77dc07cbd99b3</string>
</dict>
</plist>